<!doctype html>
<html lang="en">
<head>
  <title>CultureProject</title>
  <link rel="stylesheet" href="static/CSS/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class='container-links'>
        <div class='item-links'>
          <p><a href="{{ url_for('home') }}">Home</a></p>
        </div>
        <div class='item-links'>
          <p><a href="{{ url_for('about') }}">Video</a></p>
        </div>
        <div class='item-links'>
          <p><a href="{{ url_for('sources') }}">Sources</a></p>
        </div>
      </div>
      <div class='container'>
        <div class="item-top">
          <h1>Mark Gonzales: "The Gonz"</h1>
        </div>
      </div>
    </header>
    <main>
      <div>
      {% block content %}
      {% endblock %}
    </div>
    </main>
  </body>
</html>