<!doctype html>
<html lang="en">
  <body>
    <main>
      {% extends "layout.html" %}
{% block content %}
  <div class='container'>
      <div class='item-sources'>
        <div class='box'>
          <h2>Sources</h2>
          <p class='info'>Hendrikx, Eric. “Mark Gonzales, The Most Influential Skateboarder of All-Time, Gets His Due.” InsideHook, 13 Oct. 2020, www.insidehook.com/article/books/interview-mark-gonzales-skateboarding-new-book. </p>
          <p class='info'>Hendrikx, Eric. “Mark Gonzales: Why Skateboarders 'Don't Give a F--k'.” Rolling Stone, Rolling Stone, 25 June 2018, www.rollingstone.com/culture/culture-sports/mark-gonzales-on-art-the-olympics-why-street-skating-is-like-the-blues-153566/. </p>
          <p class='info'>Manzano, Gilberto. “12 Latinos That Made History with Skateboards.” We Are Mitú Music, Movies, Sports & Business. 100% American & Latino., 16 Oct. 2018, wearemitu.com/mitu-world/influential-latino-skateboarders/.</p>
        </div>
      </div>
    </div>
{% endblock %}
    </main>
  </body>
</html>
